h1{
    border: 5px solid white;
    text-align: center;
    margin-left: 28%;
    margin-right: 28%;
    color: white;
}

#myDiv{
    text-align: center;
    justify-self: auto;
    margin: auto;
    align-items: center;;
}
.reset {
    height: 55px;
    width: 60px;
    background: lightcoral;
    border-radius: 10%;
    color: white;
}
.add {
    height: 55px;
    width: 60px;
    background: rgb(117, 214, 117);
    border-radius: 10%;
    color: white;
}
#myInput{
    width: 500px;
    height: 50px;
    font-size: 20px;
    border: 5px solid white;
    background-color: black;
    color: white;
    border-radius: 6%;
    opacity: .6;
    text-align: center;
}
::placeholder{
    color: white;
}

.background{
    background-image: url(https://images.unsplash.com/photo-1437651025703-2858c944e3eb?ixlib=rb-0.3.5&q=99&fm=jpg&crop=entropy&cs=tinysrgb&w=2048&fit=max&s=9fbaf2f1986f9afafa54e8d7e4efa81a);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


ul{
    margin: 0;
    padding: 0;
}

ul li {
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(117, 214, 117);
    font-size: 18px;
    transition: 0.2s;
    opacity: .8;
    color: white;
}
li:hover{
    background-color: lightcoral;
}


